* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navItem {
  padding: 2px;
}

.navItem Link {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sideNav-icon {
  margin-right: 5px;
}

.nav-split {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.2rem;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.error-label {
  color: red;
  font-weight: bold;
}
